<%- include("sidenavbar") -%>


<!-- main content container  -->
<div class="col-sm p-3 min-vh-100 d-flex flex-column" id="main-content">
    <div class="row" style="background-color: #CCD5AE;">

     <!-- Heading -->
     <h1 class="text-center">DASHBOARD</h1>
    </div>
    <div class="row mt-5 text-center" id="info">
     <p class="mt-4">Company name:</p>
     <p class="mt-4">User ID: </p>
     <p class="mt-4">Email: </p>
     <p class="mt-4">Password: </p>
     <p class="mt-4">Phone Number: </p>
     <p class="mt-4">City: </p>
     <p class="mt-4">State: </p>
     <p class="mt-4">Country: </p>
    </div>
 </div>
</div>


<%- include("footer") -%>