
        <!-- main content container  -->
        <div class="col-sm p-3 min-vh-100" id="main-content">
           <div class="row" style="background-color: #CCD5AE;">

            <!-- Heading -->
            <h1 class="text-center">DASHBOARD</h1>
           </div>
           <div class="row">
            <p>Company name: </p>
            <p>User ID: </p>
            <p>Email: </p>
            <p>Password: </p>
            <p>Phone Number: </p>
            <p>City: </p>
            <p>State: </p>
            <p>Country: </p>
           </div>
        </div>
    </div>
