<%- include("sidenavbar") -%>

<div class="col-sm p-3 min-vh-100 d-flex flex-column" id="main-content">
    <div class="row" style="background-color: #CCD5AE;">
     <!-- Heading -->
     <h1 class="text-center">TRANSACTION</h1>
    </div>

    <form action="#" method="post">
        
    </form>
    
 </div>
</div>


<%- include("footer") -%>